<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->
    <title>Spirit 2022 | Events</title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    .cont{
    background-image: url("images/49bg.svg");
    }

    .eventDetails {
        display: flex;
        flex-wrap: wrap;
        margin: 5%;
        margin-top: 2%;
        /* margin-left: 10%;
        margin-right: 10%;
        padding-right: 5%;
        padding-left: 5%; */
    }

    .mycard {
        margin: 5%;
        margin-right: 0%;
        flex-direction: column;
        flex: 25%;
        /* border-radius: 8%; */
    }

    .mycard:hover {
        box-shadow: 0px 5px 10px grey;
    }

    .mycard>img {
        padding: 5%;
        border-radius: 35px;
    }

    .date {
        opacity: 0.7;
        height: 24px;
        right: 286.44px;
        top: 297.22px;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 13.284px;
        line-height: 23px;

        text-align: left;
    }

    .card-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 13.284px;
        line-height: 23px;
        opacity: 0.7;
    }

    .card-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 19.926px;
        line-height: 30px;
    }

    @media only screen and (max-width: 700px) {
        .mycard {
            margin: 5%;
            margin-right: 0%;
            flex-direction: column;
            flex: 50%;
            border-color: white !important;
            /* border-radius: 8%; */
            outline: none;
            box-shadow: 0px 5px 10px grey;
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 700px) {
        .mycard {
            margin: 5%;
            margin-right: 0%;
            flex-direction: column;
            flex: 33.33%;
            /* border-radius: 8%; */
            box-shadow: 0px 5px 10px grey;
        }
    }
    .ms-auto {
    margin-left: auto!important;
    }
    .card-body>a {
        text-decoration: none;
        color: black;
    }

    .card-body>a:hover {
        text-decoration: none;
        color: #8c30f5;
    }

    .card-link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 13.284px;
        line-height: 23px;
    }

    .heading {
        display: flex;
        align-content: flex-start;
        justify-content: flex-start;
        font-family: 'Poppins';
        font-style: normal;
        margin-left: 6%;
        margin-top: 6%;
        font-weight: 600;
        font-size: calc(2rem + 1vw);
        line-height: 67px;
        color: #11002C;
    }

    .head-cont{
        padding: 2% 5% 0%;
    }
</style>

<body>
    <%- include('../navbar') -%>
    <div class="cont">
        <div class="head-cont">
        <div class="heading">Events</div>
    </div>
        <div class="eventDetails">
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Cricket.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Cricket(Men)</h5>
                    <p class="card-text">
                        Cricket
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Cricket" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
        font-size: 30px;
                    src="images/event_pics/Football.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Football(Men)</h5>
                    <p class="card-text">
                        Footabll
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Football" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Hockey.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Hockey(Men)</h5>
                    <p class="card-text">
                        Hockey
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Hockey" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Kho-Kho.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Kho-Kho</h5>
                    <p class="card-text">
                        Kho-Kho
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Kho-Kho" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Weightlifting.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Weightlifting</h5>
                    <p class="card-text">
                        Weightlifting
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Weightlifting" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Aquatics.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Aquatics(Women)</h5>
                    <p class="card-text">
                        Aquatics(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Aquatics-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Aquatics.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Aquatics(Men)</h5>
                    <p class="card-text">
                        Aquatics(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Aquatics-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Athletics.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Athletics(Women)</h5>
                    <p class="card-text">
                        Athletics(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Athletics-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Athletics.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Athletics(Men)</h5>
                    <p class="card-text">
                        Athletics(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Athletics-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Volleyball.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Volleyball(Women)</h5>
                    <p class="card-text">
                        Volleyball(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Volleyball-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Volleyball.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Volleyball(Men)</h5>
                    <p class="card-text">
                        Volleyball(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Volleyball-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Basketball.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Basketball(Women)</h5>
                    <p class="card-text">
                        Basketball(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Basketball-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Basketball.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Basketball(Men)</h5>
                    <p class="card-text">
                        Basketball(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Basketball-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/TT.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Table Tennis(Women)</h5>
                    <p class="card-text">
                        Table Tennis(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/TT-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/TT.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Table Tennis(Men)</h5>
                    <p class="card-text">
                        Table Tennis(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/TT-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Tennis.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Lawn Tennis(Women)</h5>
                    <p class="card-text">
                        Lawn Tennis(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Tennis-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Tennis.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Lawn Tennis(Men)</h5>
                    <p class="card-text">
                        Lawn Tennis(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Tennis-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Badminton.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Badminton(Women)</h5>
                    <p class="card-text">
                        Badminton(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Badminton-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Badminton.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Badminton(Men)</h5>
                    <p class="card-text">
                        Badminton(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Badminton-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Chess.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Chess(Mixed)</h5>
                    <p class="card-text">
                        Chess(Mixed)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Chess" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            <div class="card mycard" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Yoga.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Yoga(Men)</h5>
                    <p class="card-text">
                        Yoga(Men)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Yoga-m" class="card-link">Register Now &#8594</a>
                </div>
            </div>

            <div class="card mycard col-sm-12" style="width: 18rem">
                <img class="card-img-top"
                    src="images/event_pics/Yoga.png"
                    style="object-fit: contain" alt="Card image cap" />
                <div class="card-body">
                    <p class="date">13/10/2022</p>
                    <h5 class="card-title">Yoga(Women)</h5>
                    <p class="card-text">
                        Yoga(Women)
                    </p>
                </div>
                <div class="card-body">
                    <a href="/events/register/Yoga-w" class="card-link">Register Now &#8594</a>
                </div>
            </div>
            
        </div>
    </div>
    <%- include('../footer') -%>
</body>

</html>