body{
  padding: 0%;
  margin: 0%;
}

.main-header{
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #18191F;
  padding-top: 2%;
}
        
.below-header{
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  color: #18191F;
  margin-top: 1%;
}

.bg-image{
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='946' viewBox='0 0 1440 946' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M445.5 776.5L875.5 0H1532L1623 157H1007.5L574 946H-87L-182 776.5H445.5Z' fill='%23F2F0F7'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat:round;
  margin: 0%;
  padding: 0%;
}

.bottom-cont {

  background-image: url("../8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  height: 100%;
  min-width: 100%;
  min-height: auto;
  text-align: center;
}

#logo-group{
  margin-top: 6%;
}

.sponsor-logo{
  max-width: 70%;
  padding: 8% 2%;
}
